---
import BaseLayout from "../layouts/BaseLayout.astro";
import Chart from "../components/Chart.astro";

const labels = ["January", "February", "March", "April", "May"];
const datasets = [
  {
    label: "Dataset 1",
    data: [10, 20, 30, 40, 50],
    backgroundColor: "#FF6384", // Red
    borderColor: "#FF6384",
    fill: false,
  },
  {
    label: "Dataset 2",
    data: [15, 25, 35, 45, 55],
    backgroundColor: "#36A2EB", // Blue
    borderColor: "#36A2EB",
    fill: false,
  },
];

const title = "Home";
---

<BaseLayout title={title}>
  <section>
    <h1>Poll Title</h1>
    <h1 id="pollTitle">Loading...</h1>
    <div>
      <Chart type="bar" labels={labels} datasets={datasets} />
    </div>
  </section>
</BaseLayout>

<script is:inline type="module">
  const pollTitle = document.getElementById("pollTitle");

  //Get user data
  async function fetchUserData() {
    try {
      const response = await fetch("http://localhost:3000/api/users/profile", {
        method: "GET",
        headers: {
          "Content-Type": "application/json",
        },
        credentials: "include",
      });

      if (!response.ok) {
        throw new Error(`Error: ${response.statusText}`);
      }

      const data = await response.json();

      pollTitle.textContent = `Welcome, ${data.username}!`;
    } catch (error) {
      console.error("Error loading user data:", error);
      pollTitle.textContent = "Error loading user data.";
    }
  }

  fetchUserData();
</script>

<style>
  section {
    min-height: 100vh;
    padding: 16px;
  }
</style>
